nav {
    display: block;

    ul {
        margin-bottom: 0;
        padding: 0;
        display: flex;
        gap: 55px;

        li {
            list-style-type: none;

            a {
                color: var(--black_deep);
                text-transform: uppercase;
                font-weight: 400;
                font-family: var(--poppin_regular);

                &.active,
                &:hover {
                    font-weight: 700;
                }
            }


        }
    }
}