nav {
    display: block;

    ul {
        margin-bottom: 0;
        padding: 0;
border: 1px solid red;
        li {
            list-style-type: none;

            a {
                color: black;
            }
        }
    }
}