nav {
    display: block;

    ul {
        margin-bottom: 0;
        padding: 0;
        display: flex;
        gap: 30px;

        li {
            list-style-type: none;

            a {
                color: rgb(239, 5, 5);
            }
        }
    }
}