#service {}

.services_part {
    display: flex;
    .call_me {
        background: var(--brand_light);
        border-radius: 8px;
        width: 250px;

        a {
            display: flex;
           justify-content: center; 
            align-items: center;
            gap: 10px;
            border: 1px solid red;
            width: 236px;
            text-align: center;

            .material-symbols-outlined {
                text-align: center;
                color: var(--white);
            }

             p {
                color: var(--white);
                font-size: 22px;
                font-weight: 600;
                line-height: 36px;
                letter-spacing: 0.50px;
                margin: 0;
            }
        }
    }
}