#testimonials {
    background-color: #F4FBFF;

}

.testimonial_content {
    padding: 60px 0px 131px 0px;
    @include xs(){
        padding: 43px 0px 81px 0px;
    }
    @include sm(){
        padding: 43px 0px 81px 0px;
    }
    // margin: 130px;
    // .common_heading {

    //     h2 {
    //         text-align: center;
    //         font-family: var(--play_fair);
    //         font-size: 48px;
    //         line-height: 64px;

    //         @include xs () {
    //             font-size: 35px;
    //             line-height: 48px;
    //         }

    //         @include sm () {
    //             font-size: 39px;
    //             line-height: 44px;
    //             ;
    //         }

    //         @include md () {
    //             font-size: 39px;
    //             line-height: 44px;
    //             ;
    //         }
    //     }
    // }

    .testimonials_part {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        justify-content: center;
        margin-top: 40px;
        @include xs() {
            grid-template-columns: 1fr;
            gap: 30px;
        }

        @include sm() {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30;
        }

        .testimonials_item { 
            .Anya_Tailor_Joys_ditails {
                text-align: center;
                padding: 32px;
                background: #FCFCFC;
                box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
                border-radius: 10px;
                text-transform: capitalize;

                h4 {
                    font-size: 18px;
                    line-height: 28px;
                    font-family: var(--play_fair);
                    letter-spacing: 0.5px;
                    color: #151617;
                }

                p {
                    font-family: var(--play_fair);
                    font-size: 14px;
                    line-height: 24px;
                    color: var(--black_light);
                    margin-top: 10px;
                }

                .arrow_part {
                    height: 24px;
                    width: 24px;
                    background-color: #C4C4C4 ;
                    transform: rotate(180deg);
                    clip-path: polygon(50% 54%, 0% 100%, 100% 100%);
                    position: relative;
                    top: 56px;
                    left: 50%;
                }
            }

            .about {
                display: flex;
                gap: 15px;
                margin-top: 30px;
                align-items: center;
                justify-content: center;
                width: 100%;

                @include sm() {
                    gap: 20px;
                }

                .img {

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 9999px;
                    }
                }

                .text {
                    h4 {
                        // Anya Tailor Joy
                        color: #151617;
                        font-size: 18px;
                        font-family: var(--black_light);
                        font-weight: 700;
                        line-height: 28px;
                    }

                    p {
                        // CEO, SF Industires
                        color: var(--black_light);
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                    }

                }
            }
        }
    }
}